html, body {
 margin: 0;
 padding: 0;
 }
body {
 background-color :WindowFrame; 
 font-family: Verdana, sans-serif; 
 font-size: 100%;
 width: 100%;
 height: 100%
 }
h1 {
 background-color: white;
 font-size: 190%;
 color: black; 
 text-align: center;
 font-family: Hollywood Hills;
 padding:3px;
 }
 
p, ul, li {
 color: black;
 font-size: 100%;
 font-family: Agency FB;
text-align: center;
line-height: 20px;
padding: 2px; 
 }